<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fooBeanX1" class="com.mytests.spring.beans.FooBean">
        <constructor-arg value="fooX1"/>
    </bean>
    <bean id="fooBeanX2" class="com.mytests.spring.beans.FooBean">
        <constructor-arg value="fooX2"/>
    </bean>
    <bean id="xmlComponent" class="com.mytests.spring.beans.NotScannedComponent">
        <property name="id" value="xmlComponent"/>
    </bean>
</beans>